<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/pages.css" media="screen">
    <link rel="stylesheet" href="../static/css/About.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/pages.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta name="theme-color" content="#0f497f">
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-black u-clearfix u-header u-header" id="sec-f6fd"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-dropdown-icon u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL" data-position="">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../" style="padding: 10px 20px;">Главная страница</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/account" style="padding: 10px 20px;">Личный кабинет</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-border-3 u-border-grey-75 u-container-style u-inner-container-layout u-opacity u-opacity-70 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-spacing-7 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="../">Главная страница</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about">О нас</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/personal_account">Личный кабинет</a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <img class="u-image u-image-contain u-image-default u-image-1" src="../static/img/graph.png" alt="" data-image-width="900" data-image-height="488">
        <img class="u-align-left u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="../static/img/git.png" alt="" data-image-width="1200" data-image-height="1200" data-href="https://github.com/Cyber-Zhaba/PotatoChecker" data-target="_blank">
      </div></header>
    <section class="u-clearfix u-gradient u-section-1" id="sec-a2dc">
      <h1 class="u-align-center u-text u-text-default u-text-white u-text-1">Доступные функции</h1>
      <div class="u-align-center u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="30.9%">
            <col width="21.6%">
            <col width="25%">
            <col width="22.5%">
          </colgroup>
          <thead class="u-align-center u-table-header u-white u-table-header-1">
            <tr style="height: 46px;">
              <th class="u-align-left u-table-cell u-table-cell-1">Функции</th>
              <th class="u-palette-3-base u-table-cell u-table-cell-2"><b>wEb</b>
              </th>
              <th class="u-palette-2-base u-table-cell u-table-cell-3"><b>TELEGRAM</b>
              </th>
              <th class="u-palette-1-dark-1 u-table-cell u-table-cell-4"><b>eMAIL</b>
                <br>
              </th>
            </tr>
          </thead>
          <tbody class="u-align-center u-palette-5-dark-3 u-table-body u-table-body-1">
            <tr style="height: 48px;">
              <td class="u-align-left u-first-column u-table-cell">Список любимых сайтов</td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-6">&nbsp; <span class="u-icon u-text-palette-3-base"><svg class="u-svg-content" viewBox="0 -46 417.81333 417"><path d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"></path></svg><img></span> &nbsp;
              </td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-text-palette-2-base u-table-cell-7">x</td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-text-palette-1-dark-1 u-table-cell-8">x</td>
            </tr>
            <tr style="height: 70px;">
              <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-table-cell">График работы сайта</td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-text-palette-3-base u-table-cell-10">&nbsp; <span class="u-icon u-text-palette-3-base"><svg class="u-svg-content" viewBox="0 -46 417.81333 417"><path d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"></path></svg><img></span> &nbsp;
              </td>
              <td class="u-border-2 u-border-no-left u-border-no-right u-border-palette-5-dark-2 u-table-cell u-text-palette-2-base u-table-cell-11">x</td>
              <td class="u-border-2 u-border-palette-5-dark-2 u-table-cell u-text-palette-1-dark-1 u-table-cell-12">x<span class="u-text-palette-1-dark-1"></span>
              </td>
            </tr>
            <tr style="height: 25px;">
              <td class="u-align-left u-border-1 u-border-palette-5-dark-2 u-first-column u-table-cell"> Узнать о изменении статуса</td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-14">&nbsp; <span class="u-icon u-text-palette-3-base"><svg class="u-svg-content" viewBox="0 -46 417.81333 417"><path d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"></path></svg><img></span> &nbsp;
              </td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-table-cell-15">&nbsp; <span class="u-icon u-text-palette-2-base"><svg class="u-svg-content" viewBox="0 -46 417.81333 417"><path d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"></path></svg><img></span> &nbsp;
              </td>
              <td class="u-border-1 u-border-palette-5-dark-2 u-table-cell u-text-grey-75 u-table-cell-16"> &nbsp; <span class="u-icon u-text-palette-1-dark-1"><svg class="u-svg-content" viewBox="0 -46 417.81333 417"><path d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"></path></svg><img></span> &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="u-text u-text-default u-text-white u-text-2">ЧАВО</h2>
      <p class="u-text u-text-body-alt-color u-text-3">Тут вы можете найти ответы на часто задаваемые вопросы</p>
      <div class="u-accordion u-faq u-spacing-20 u-accordion-1">
        <div class="u-accordion-item">
          <a class="active u-accordion-link u-active-black u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-grey-80 u-hover-grey-75 u-text-body-alt-color u-accordion-link-1" id="link-accordion-6327" aria-controls="accordion-6327" aria-selected="true">
            <span class="u-accordion-link-text">Могут ли другие пользователи видеть список моих любимых сайтов?</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8021"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-8021" style=""><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
          </a>
          <div class="u-accordion-active u-accordion-pane u-border-2 u-border-grey-75 u-container-style u-grey-80 u-accordion-pane-1" id="accordion-6327" aria-labelledby="link-accordion-6327">
            <div class="u-container-layout u-container-layout-1">
              <div class="fr-view u-clearfix u-rich-text u-text">
                <p>
                  <span style="font-size: 1.25rem;">Другие пользователи не могут видеть ваши любимые сайты. Ваши избранные приватны.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-black u-border-1 u-border-active-grey-75 u-border-grey-15 u-border-hover-grey-75 u-border-no-left u-border-no-right u-border-no-top u-button-style u-grey-80 u-hover-grey-75 u-text-body-alt-color u-accordion-link-2" id="link-accordion-4aab" aria-controls="accordion-4aab" aria-selected="false">
            <span class="u-accordion-link-text">Проходят ли сайты модерацию перед добавлением на мониторинг?</span><span class="u-accordion-link-icon u-icon u-text-black u-icon-7"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3470"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3470" style=""><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
          </a>
          <div class="u-accordion-pane u-border-2 u-border-grey-75 u-container-style u-grey-80 u-accordion-pane-2" id="accordion-4aab" aria-labelledby="link-accordion-4aab">
            <div class="u-container-layout u-container-layout-2">
              <div class="fr-view u-clearfix u-rich-text u-text">
                <p>
                  <span style="font-size: 1.25rem;">Сайты проходят модерацию перед тем, как они будут добавлены к мониторингу. Так же заявка может быть отклонена, в связи с некорректным описанием или содержанием сайта.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body></html>