{% extends "Personal-account.html" %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
      rel="stylesheet">
<style>
    table, th, td {
      border:1px solid black;
    }
    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }

</style>
<body>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название сайта</th>
        <th scope="col">Состояние</th>
    </tr>
    </thead>
    <tbody>
    {% for favourite_website in favourite_sites %}
    <tr class="bg-info">
        <th scope="row">{{ loop.index }}</th>
        <td><a style="font-size: 2rem" href="/draw_graphic/{{favourite_website.id}}">{{favourite_website.name}}</a></td>
        <td>{{favourite_website.state}}</td>
    </tr>
    {% endfor %}

    {% for not_favourite_website in not_favourite_sites %}
    <tr>
        <th scope="row">{{ loop.index + length }}</th>
        <td><a style="font-size: 2rem"
               href="/draw_graphic/{{not_favourite_website.id}}">{{not_favourite_website.name}}</a></td>
        <td>{{not_favourite_website.state}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}