{% extends "Personal-account.html" %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap"
      rel="stylesheet">
<style>
    table {
        border-radius: 25px;
        background-color: transparent;
    }
    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }

</style>
<body>
<table width="100%" height="100%">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название сайта</th>
        <th scope="col">Состояние</th>
    </tr>
    </thead>
    <tbody>
    {% for favourite_website in favourite_sites %}
    <tr class="table_favourite">
        <th scope="row" style="color: #C5E70D">{{ loop.index }}</th>
        <td><a class="table_favourite" style="font-size: 2rem; color: #C5E70D;" href="/draw_graphic/{{favourite_website.id}}">{{favourite_website.name}}</a></td>
        <td><a style="color: #C5E70D; font-size: 1.5rem"> {{favourite_website.state}}</a></td>
    </tr>
    {% endfor %}

    {% for not_favourite_website in not_favourite_sites %}
    <tr>
        <th scope="row">{{ loop.index + length }}</th>
        <td><a style="font-size: 2rem; color: white"  href="/draw_graphic/{{not_favourite_website.id}}">{{not_favourite_website.name}}</a></td>
        <td style="font-size: 1.5rem;">{{not_favourite_website.state}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}