 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 422px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 13px 30px;
}

.u-section-1 .u-custom-html-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 350px;
  width: 513px;
  margin: 10px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: -3px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 228px;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 16px 4px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-style: italic;
  text-transform: uppercase;
  margin: 4px auto 0 0;
  padding: 10px 97px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-style: italic;
  margin: 10px auto 0 2px;
  padding: 10px 55px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 228px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-style: italic;
  border-style: solid;
  margin: 10px 16px 0 auto;
  padding: 10px 79px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-style: italic;
  margin: 10px 10px 0 auto;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 9px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 63px;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 189px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-custom-html-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-custom-html-5 {
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 433px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    min-height: 41px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 68px;
    padding-right: 68px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 188px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 52px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 323px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 144px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 216px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 136px;
  }
}